<template lang="pug">
  .eg-slideshow
    Welcome
    QuickFacts
    WhyWeNeedAFrontFramework
    WhatIsVue
    WhatYouCanDoWithVue
</template>

<script>
import eagle from 'eagle.js'
import QuickFacts from './QuickFacts'
import Welcome from './Welcome'
import WhatIsVue from './WhatIsVue'
import WhatYouCanDoWithVue from './WhatYouCanDoWithVue'
import WhyWeNeedAFrontFramework from './WhyWeNeedAFrontFramework'

export default {
  mixins: [eagle.slideshow],
  components: {
    QuickFacts,
    Welcome,
    WhatIsVue,
    WhatYouCanDoWithVue,
    WhyWeNeedAFrontFramework
  }
}
</script>

