<template lang="pug">
  eg-transition(enter='fadeInDown' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      h1 Quick facts ?
      eg-transition(enter='fadeInRight' leave='fadeOutUp') 
        div.row.middle-xs.center-xs(v-if="step === 2")
          div.col-xs-3
            div.box
              img(src="../../static/EvanYou.jpg")
          div.col-xs-6
            div.box
              p.
                Vue Creator
              p 
                i(class="fa fa-github" aria-hidden="true") @youyuxi   
              p
                i(class="fa fa-twitter" aria-hidden="true") https://github.com/yyx990803   
      eg-transition(enter='fadeInRight' leave='fadeOut') 
        div.row.middle-xs.center-xs(v-if="step > 2")
          div.box
            p Evan You is the father of Vue
            p Released in February 2014
            eg-transition(enter='fadeInRight' leave='fadeOut')
              div(v-if="step > 3")
                p Version 2.5
                p Main site: http://vuejs.org
                p Github: https://github.com/vuejs 
</template>

 
<script>
import eagle from 'eagle.js'

export default {
  mixins: [eagle.slide],

  props: {
    steps: {
      default: 4
    }
  }
}
</script>

<style lang='scss' scoped>
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojis {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 1em 1em;
    font-size: 2em;
  }

}
</style>