<template lang="pug">
  eg-transition(enter='fadeIn' leave='fadeOut')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Welcome
          eg-transition(enter='fadeInRight' leave='fadeOutLeft') 
            span(v-if='step > 2') to my first talk 
          eg-transition(enter='fadeInRight' leave='fadeOutLeft')
            span(v-if='step > 3') & learn 
          eg-transition(enter='fadeInRight' leave='fadeOutLeft')
            span(v-if='step > 4') & eat !
        div.emojis(v-if='step < 6')
          eg-transition(enter='fadeInRight' leave='fadeOutLeft') 
            p(v-if='step > 2') 🗣️
          eg-transition(enter='fadeInRight' leave='fadeOutLeft') 
            p(v-if='step > 3') 🏫
          eg-transition(enter='fadeInRight' leave='fadeOutLeft') 
            p(v-if='step > 4') 🍕
        eg-transition(enter='fadeInRight' leave='fadeOutLeft')
          div.subslide(v-if='step > 6')
            div.logo
              img(src="../../static/VueLogo.png")
              eg-transition(enter='fadeInRight' leave='fadeOutLeft')
                ul
                  li Crash Course on Vue.js
                    eg-transition(enter='fadeInRight' leave='fadeOutLeft')
                      ul
                        li Yes another frontend framework to learn  
                        li You will love it :)
                        eg-transition(enter='fadeInRight' leave='fadeOutLeft')
                          li(v-if='step > 7') Also this presentation is made by Vue
</template>

<script>
import eagle from 'eagle.js'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 8
    }
  }
}
</script>

<style lang='scss' scoped>
.logo {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.emojis {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;

  p {
    margin: 1em 1em;
    font-size: 2em;
  }

}
</style>
