<template lang="pug">
  eg-transition(enter='fadeIn' leave='fadeOut')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 What you can do with Vue.js ?
        div.row.center.table
          eg-transition(enter='fadeInLeft' leave='fadeOutLeft')
            .left.col-xs-6
              div.box Reactive Interfaces
              div.box Declarative Rendering
              div.box Data Binding
              div.box Directives
          eg-transition(enter='fadeInRight' leave='fadeOutRight')
            .right.col-xs-6
              div.box Template Logic
              div.box Component nesting
              div.box Event handling
              div.box Computed properties
              div.box CSS Transitionins & Animation
              div.box Custom Filters
</template>


<script>
import eagle from 'eagle.js'

export default {
  mixins: [eagle.slide]
}
</script>

<style lang="scss" scoped>
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.table {
  margin-top: 4em;
}
</style>

