<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 What is Vue.js ?
        h4 The Progressive JavaScript Framework
        ul 
          li Approachable: use HTML, CSS and JavaScript
          li Versatile: easily integrated into other projects/libraires or powering advanced SPA
          li Performant: 20KB min+gzip Runtime, Blazing Fast Virtual DOM, Minimal Optimization Efforts
</template>

<script>
import eagle from 'eagle.js'

export default {
  mixins: [eagle.slide]
}
</script>

