<template lang="pug">
  eg-transition(enter='fadeIn', leave='fadeOut')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1(v-if='step >= 1 && step <= 5') Why we need a frontend framework ?
        h1(v-if="step === 6") What we are looking for ?
        h1(v-if="step > 6") What is a complex UI ?

        eg-transition
          div.row(v-if='step >= 1 && step <= 5')
            ul.col-xs
              li(v-if='step > 2') UI complexity: web based apps increased their complexity, we have to think the browser as a mobile (a platform)
              li(v-if='step > 3') Fast prototyping: HTML, CSS & JS deliver as fast as possible 
              li(v-if='step > 4') JQuery spaguetty
                ul
                  li Forget about separation of concerns
                  li Mix presentation and data Logic
                  li Thow this in the dom
                  li Enjoy

        eg-transition
          div.row(v-if='step === 6') 
            ul.col-xs
              li Easy to learn Framework - even for JS newcomers
              li Productivity in a day-to-day work
              li No rough corners & edges that lead to problems
              li Stable APIs
         
        eg-transition
          div.row(v-if='step === 7') 
            h1 
            .row
              .col-xs
                img(src="../../static/VueBundles.png")
        
        eg-transition(enter='fadeInRight', leave='fadeOutLeft')
          div.row(v-if='step === 8') 
            h1 
            .row
              .col-xs
                img(src="../../static/ComponentTree.png")
</template>

<script>
import eagle from 'eagle.js'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 8
    }
  }
}
</script>

