<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Built-in components
        ul
          li 
          | animation with transition
          li 
          | dynamic component with component
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './BuiltInComponentsCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>