<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 How to register component ?

        eg-transition
          div.row(v-if="step === 1")
            .col-xs
              h4.row Gobal Registration
              p.row.
                These components are globally registered. That means they can be used in the template of any root Vue instance (new Vue) created after registration
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.globalRegistrationCodeBlock.content}}

        eg-transition
          div.row(v-if="step === 2")
            .col-xs
              h4.row Local Registration
              p.row.
                Locally registered components are not also available in subcomponents.
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.localRegistrationCodeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './HowToRegisterComponentsCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>