<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Can be extended easily with plugins
        
        eg-transition
          div.row(v-if="step === 1")
            .col-xs
              h4.row Using a Plugin
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.usingPluginCodeBlock.content}}
        
        eg-transition
          div.row(v-if="step === 2")
            .col-xs.writingPlugin
              h4.row Writing a Plugin
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.writingPluginCodeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './HowToExtendPluginsCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>

<style lang="scss" scoped>
.writingPlugin {
  h4 {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .eg-code-block {
    font-size: 0.45em;
  }
}
</style>
