<template lang="pug">
  .eg-slideshow
    BuiltInComponents
    HowToRegisterComponents
    HowToExtendPlugins
</template>

<script>
import eagle from 'eagle.js'
import BuiltInComponents from './BuiltInComponents'
import HowToExtendPlugins from './HowToExtendPlugins'
import HowToRegisterComponents from './HowToRegisterComponents'

export default {
  mixins: [eagle.slideshow],
  components: {
    BuiltInComponents,
    HowToExtendPlugins,
    HowToRegisterComponents
  }
}
</script>

