<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Built-in components
        p.col-xs
          h4.row Event Modifiers
          p.row.
            There are frequently used calls that are made when handling events. 
            Vue has made it easier for us to implement these by using modifiers.
          .row
            eg-code-block.col-xs(lang='javascript').
              {{codeBlocks.vOnEventModifiersTemplateCodeBlock.content}}
            ul.col-xs
              li stop - Prevents event bubbling up the DOM tree
              li prevent - Prevents default behavior
              li capture - Capture mode is used for event handling
              li self - Only trigger if the target of the event is itself
              li once - Run the function at most once
  
      
      
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './BuiltInComponentsCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>