<template lang="pug">
eg-transition(enter='fadeInRight' leave='fadeOutLeft')
  .eg-slide(v-if='active')
    .eg-slide-content
      h1 Using vue in any html view
        template(v-for="(codeBlock, codeBlockName, index) in codeBlocks")     
          eg-code-block(
            v-if="step === index + 1" 
            :lang='codeBlock.language' 
            :class="codeBlockName"
            :key="codeBlockName"
          ).
            {{codeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './HowToUseVueCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },
  data () {
    const allCodeBlocks = {
      phpInstall: codeBlocks.basicInstallOnPhpCodeBlock,
      htmlInstall: codeBlocks.basicInstallOnHtmlCodeBlock
    }

    return {
      codeBlocks: allCodeBlocks
    }
  }
}
</script>

<style lang="scss" scoped>
.phpInstall {
  font-size: 0.35em;
}

.htmlInstall {
  font-size: 0.20em;
}
</style>
