<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Using with vue-cli
        h3 is the recommended way to build Vue.js app
        template(v-for="(codeBlock, codeBlockName, index) in codeBlocks")     
          eg-code-block(
            v-if="step === index + 1" 
            :lang='codeBlock.language' 
            :class="codeBlockName"
            :key="codeBlockName"
          ).
            {{codeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './HowToUseVueCliCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },

  data () {
    const allCodeBlocks = {
      cliInstall: codeBlocks.basicInstallOnCliCodeBlock,
      install: codeBlocks.installResultCodeBlock
    }

    return {
      codeBlocks: allCodeBlocks
    }
  }
}
</script>

<style lang="scss" scoped>
.cliInstall {
  font-size: 1em;
}
</style>
