<template lang="pug">
  .eg-slideshow
    HowToUseVue
    HowToUseVueCli
    UseVueFile
    UsingMVVM
</template>

<script>
import eagle from 'eagle.js'
import HowToUseVue from './HowToUseVue'
import HowToUseVueCli from './HowToUseVueCli'
import UseVueFile from './UseVueFile'
import UsingMVVM from './UsingMVVM'

export default {
  mixins: [eagle.slideshow],
  components: {
    HowToUseVue,
    HowToUseVueCli,
    UseVueFile,
    UsingMVVM
  }
}
</script>

