<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 All in one file
        template(v-for="(codeBlock, codeBlockName, index) in codeBlocks")     
          eg-code-block(
            v-if="step === index + 1" 
            :lang='codeBlock.language' 
            :class="codeBlockName"
            :key="codeBlockName"
          ).
            {{codeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './UseVueFileCodeBlocks'

export default {
  mixins: [eagle.slide],
  
  props: {
    steps: {
      default: 1
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>
