<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Vue use MVVM pattern
        
        eg-transition(enter='fadeInLeft' leave='fadeOutLeft')
          div.row(v-if="step === 1")
            div.col-xs
              div.block
                img(src="../../static/DiagramMVVM.jpg")
        
        eg-transition
          div.row(v-if="step === 2")
            div.col-xs-4 
              div.block
                p Model
                eg-code-block.model(lang='codeBlocks.viewModelCodeBlock.language').
                  {{codeBlocks.modelCodeBlock.content}}
            div.col-xs-4
              div.block
                p ViewModel
                eg-code-block.viewModel(lang='codeBlocks.viewModelCodeBlock.language').
                  {{codeBlocks.viewModelCodeBlock.content}}
            div.col-xs-4
              div.block
                p View
                eg-code-block.view(lang='codeBlocks.viewCodeBlock.language').
                  {{codeBlocks.viewCodeBlock.content}}
        
        eg-transition  
          div.row(v-if="step === 3")
            div.col-xs
              div.block
                img(src="../../static/PassPropsEmitEvents.png")
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './UsingMVVMCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 3
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>

<style lang="scss" scoped>
.model {
  font-size: 0.40em;
}

.viewModel {
  font-size: 0.50em;
}

.view {
  font-size: 0.40em;
}
</style>
