<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Class or Style binding
        eg-transition
          div.row(v-if="step === 1")
            .col-xs
              p.row.
                Vue.js allows for binding styles and classes dynamically
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.dataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.templateCodeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './ClassOrStyleBindingCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 1
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>