<template lang="pug">
eg-transition(enter='fadeInRight' leave='fadeOutLeft')
  .eg-slide(v-if='active')
    .eg-slide-content
      h1 Component Internals
        template(v-for="(codeBlock, codeBlockName, index) in codeBlocks")     
          eg-code-block(
            v-if="step === index + 1" 
            lang='javascript' 
            :class="codeBlockName"
            :key="codeBlockName"
          ).
            {{codeBlock}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './ComponentInternalsOverviewCodeBlocks'

const getOverviewBlockCodesOrdered = () => {
  return [
    'overview',
    'name',
    'props',
    'data',
    'computed',
    'methods'
  ].reduce((acc, key) => {
    acc[key] = codeBlocks.overviewCodeBlocks[key]
    return acc 
  }, {})
}

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 7
    }
  },

  data () {
    const allCodeBlocks = Object.assign(getOverviewBlockCodesOrdered(), {
      lifeCycle: codeBlocks.lifeCycleCodeBlock,
      fullProps: codeBlocks.fullPropsCodeBlock
    })

    return {
      codeBlocks: allCodeBlocks
    }
  }
}
</script>

<style lang='scss' scoped>
.eg-code-block {
  font-size: 0.35em;
}

.eg-code-block.fullProps {
  font-size: 0.20em;
}
</style>
