<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Conditionals & Loops

        eg-transition
          div.row(v-if="step >= 1 && step < 4")
            .col-xs
              h4.row Statements
              ul.row
                li(v-if="step === 1").
                  v-if, v-else-if, v-else - Only renders the element to the DOM if the expression passes
                li(v-if="step === 2").
                  v-show - Renders all elements to the DOM and then uses the CSS display property to hide elements if the expression fails
                li(v-if="step === 3"). 
                  v-show - Does not support v-else, v-else-if
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.conditionalsDataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.conditionalsTemplateCodeBlock.content}}
        
        eg-transition
          div.row(v-if="step === 4")
            .col-xs
              h4.row Iterate on array
              p.row.
                The built-in v-for directive allows us to loop through items in an array or object.
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.loopsArrayDataCodeBlock.content}}
                        
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.loopsArrayTemplateCodeBlock.content}}
        
        eg-transition
          div.row(v-if="step === 5")
            .col-xs
              h4.row Iterate on object
              p.row.
                We can loop over objects with multiple properties like we do with arrays.
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.loopsObjDataCodeBlock.content}}
                        
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.loopsObjTemplateCodeBlock.content}}

        eg-transition
          div.row(v-if="step === 6")
            .col-xs
              h4.row Iterate on range
              p.row.
                We can use a range in the v-for directive to iterate a specified number of times.
                The following syntax would print out 1 to 15 in an unordered list:
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.loopsRangeCodeBlock.content}}
        
        eg-transition  
          div.row(v-if="step === 7")
            .col-xs
              h4.row Key
              p.row.
                When the array order is changed, by default Vue would change the data in each existing element rather than moving the DOM elements to the updated position.
                We can set Vue to track each element using a key. This would cause it to move elements rather than replacing values.
                This value should be unique to each element that’s being iterated over:
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.loopsKeyCodeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './ConditionalsAndLoopsCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 7
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>