<template lang="pug">
  .eg-slideshow
    ComponentInternals
    LifeCycle
    SimpleDirectives
    VbindDirectives
    VonDirectives
    ConditionalsAndLoops
    ClassOrStyleBinding
    VmodelDirectives    
</template>

<script>
import eagle from 'eagle.js'
import ClassOrStyleBinding from './ClassOrStyleBinding'
import ComponentInternals from './ComponentInternals'
import ConditionalsAndLoops from './ConditionalsAndLoops'
import LifeCycle from './LifeCycle'
import SimpleDirectives from './SimpleDirectives'
import VbindDirectives from './VbindDirectives'
import VmodelDirectives from './VmodelDirectives'
import VonDirectives from './VonDirectives'

export default {
  mixins: [eagle.slideshow],
  components: {
    ClassOrStyleBinding,
    ComponentInternals,
    ConditionalsAndLoops,
    LifeCycle,
    SimpleDirectives,
    VbindDirectives,
    VmodelDirectives,
    VonDirectives
  }
}
</script>

