<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 LifeCycle
        div.row.space-around
          div.col-xs
            img.lifeCycle(src="https://vuejs.org/images/lifecycle.png?_sw-precache=6f2c97f045ba988851b02056c01c8d62")
          div.col-xs
            ul
              li beforeCreate
              li created
              li beforeMount
              li mounted
              li beforeUpdate
              li updated
              li beforeDestroy
              li destroy
</template>


<script>
import eagle from 'eagle.js'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 1
    }
  }
}
</script>

<style lang="scss" scoped>
.lifeCycle {
  height: 100vh;
}
</style>
