<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 Simple directives example
        eg-code-block(lang='html').
          {{codeBlocks.simpleDirectivesCodeBlock.content}}
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './SimpleDirectivesCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 2
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>