<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 v-bind directive

        eg-transition
          div.row
            eg-code-block.col-xs(lang='javascript').
              {{codeBlocks.vBindDirectivesDataCodeBlock.content}}
            eg-code-block.col-xs(lang='html').
              {{codeBlocks.vBindDirectivesTemplateCodeBlock.content}}
        
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './VbindDirectivesCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 1
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>