<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 v-model directive
        
        eg-transition
          div.row(v-if="step === 1")
            .col-xs
              h4.row With input
              p.row.
                this is also call two way binding
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.inputDataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.inputTemplateCodeBlock.content}}

        eg-transition
          div.row(v-if="step === 2")
            .col-xs
              h4.row With checkbox
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.checkboxDataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.checkboxTemplateCodeBlock.content}}

        eg-transition
          div.row(v-if="step === 3")
            .col-xs
              h4.row With multi-checkbox
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.multiCheckboxDataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.multiCheckboxTemplateCodeBlock.content}}

        eg-transition
          div.row(v-if="step === 4")
            .col-xs
              h4.row With radio
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.multiRadioDataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.multiRadioTemplateCodeBlock.content}}
        
        eg-transition
          div.row(v-if="step === 5")
            .col-xs
              h4.row It's a shorthand
              p.row  You can easily implement v-model support for your own components.
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.shortHandForTemplateCodeBlock.content}}
</template>

  
<script>
import eagle from 'eagle.js'
import * as codeBlocks from './VmodelDirectivesCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 5
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>