<template lang="pug">
  eg-transition(enter='fadeInRight' leave='fadeOutLeft')
    .eg-slide(v-if='active')
      .eg-slide-content
        h1 v-on directive
        eg-transition
          div.row(v-if="step === 1")
            .col-xs
              h4.row Events
              p.row.
                User interactions with the view can trigger events on the DOM such as click and keyup. 
                We can use the v-on directive to handle these events.
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.vOnDirectivesDataCodeBlock.content}}
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.vOnDirectivesTemplateCodeBlock.content}} 
        eg-transition
          div.row(v-if="step === 2")
            .col-xs
              h4.row Event Modifiers
              p.row.
                There are frequently used calls that are made when handling events. 
                Vue has made it easier for us to implement these by using modifiers.
              .row
                eg-code-block.col-xs(lang='javascript').
                  {{codeBlocks.vOnEventModifiersTemplateCodeBlock.content}}
                ul.col-xs
                  li stop - Prevents event bubbling up the DOM tree
                  li prevent - Prevents default behavior
                  li capture - Capture mode is used for event handling
                  li self - Only trigger if the target of the event is itself
                  li once - Run the function at most once
                
        eg-transition 
          div.row(v-if="step === 3")
            .col-xs
              h4.row Key Modifiers
              p.row.
                Listen to a particular key when handling key-related events such as keyup.
              .row
                eg-code-block.col-xs(lang='html').
                  {{codeBlocks.vOnKeyModifiersTemplateCodeBlock.content}}
                p.col-xs.
                  Also, it’s possible to setup your own alias for key codes as follows:
                  Vue.config.keyCodes.a = 65    
</template>

<script>
import eagle from 'eagle.js'
import * as codeBlocks from './VonDirectivesCodeBlocks'

export default {
  mixins: [eagle.slide],
  props: {
    steps: {
      default: 3
    }
  },

  data () {
    return {
      codeBlocks
    }
  }
}
</script>