<template lang='pug'>
  #app
    Presentation(:keyboardNavigation="true" :mouseNavigation="false")
</template>

<script>
import Presentation from '../components/Presentation'

export default {
  name: 'app',
  components: {
    Presentation
  }
}
</script>

<style lang="scss">
body {
  width: 100%;
  margin: 0 0;
}

html {
  height: 0;
}

#app {
  width: 100%;
}

h1 {
  font-size: 3em;
}

ul {
  list-style: none;
}
</style>