<template lang='pug'>
  #VueSlideshow
    .eg-slideshow
      IntroductionSlideShow(:inserted="true")
      SetupSlideShow(:inserted="true")
      ViewSlideShow(:inserted="true")
      ViewModelSlideShow(:inserted="true")
</template>

<script>
import eagle from 'eagle.js'
import IntroductionSlideShow from './Introduction'
import SetupSlideShow from './Setup'
import ViewSlideShow from './View'
import ViewModelSlideShow from './ViewModel'

export default {
  mixins: [eagle.slideshow],
  components: {
    IntroductionSlideShow,
    SetupSlideShow,
    ViewSlideShow,
    ViewModelSlideShow
  }
}
</script>

<style lang='scss'>

.eg-slideshow .eg-code-block {
  font-size: 0.60em;

  &.small {
    font-size: 0.25em;
  }

  &.medium {
    font-size: 1em;
  }
}


#VueSlideshow {

  .eg-slideshow {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    background-color: #eef;
    color: #34495e;

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.75em;
    }

    h3 {
      font-size: 1.50em;
    }
  
    .eg-slide {
      .eg-slide-content {
        max-width: 80%;
        margin: 0 auto;
      }
    }

    p {
      font-size: 1em;
    }
  }
}
</style>